@charset "utf-8";

/* Hamburger menu 13 */
/* クリックしてアトムを感じよう */

/* Reference study site */
/* URL: https://photopizza.design/css_hamburger_menu/ */

/* 詳細な挙動についてここに記載する */



/* body {
  background: #F26451;
} */

.hamburger_menu_13>.implement_container {
  background: #F26451;
}

.hamburger_menu_13>.implement_container img {
  width: 30px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  -webkit-filter: grayscale(100%)brightness(3);
  filter: grayscale(100%)brightness(3);
}

.hamburger_menu_13>.implement_container p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 10px;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  margin-top: 45px;
  margin-left: -85px;
}

.hamburger_menu_13>.implement_container button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transition: all 300ms cubic-bezier(.61, .01, .42, 1);
  cursor: pointer;
  background: transparent;
  border: 0px;
}

.hamburger_menu_13>.implement_container div {
  height: 0px;
  border: 1.5px solid #fff;
  width: 22px;
  display: block;
  position: absolute;
  transition: all 300ms cubic-bezier(.61, .01, .42, 1);
  background: #fff;
}

.hamburger_menu_13>.implement_container button:hover {
  transition-delay: 100ms;
  transform: scale(1.1);
}

.hamburger_menu_13>.implement_container button:hover div:nth-child(3):before {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #F26451;
}

.hamburger_menu_13>.implement_container button:hover div {
  border: 2px solid #fff;
  height: 9px;
  border-radius: 50%;
  margin-left: -1px;
  margin-top: 2px;
  animation: atom 300ms linear 1;
  width: 25px;
  top: 0px;
  background: transparent;
}

.hamburger_menu_13>.implement_container button:focus {
  outline: 0px;
}

.hamburger_menu_13>.implement_container div:nth-child(1) {
  top: 0px;
}

.hamburger_menu_13>.implement_container div:nth-child(2) {
  top: 8px;
}

.hamburger_menu_13>.implement_container div:nth-child(3) {
  top: 16px;
}

.hamburger_menu_13>.implement_container div:nth-child(3):before {
  opacity: 0;
  animation: ball 1.5s linear infinite;
  content: '';
  border: 2px solid #fff;
  display: block;
  position: relative;
  top: 0.25px;
}

.hamburger_menu_13>.implement_container button:hover div:nth-child(1) {
  transform: rotate(-33deg);
}

.hamburger_menu_13>.implement_container button:hover div:nth-child(2) {
  transform: rotate(90deg);
}

.hamburger_menu_13>.implement_container button:hover div:nth-child(3) {
  transform: rotate(33deg);
}

.hamburger_menu_13>.implement_container button:hover div:nth-child(3):before {
  opacity: 1;
  transition: opacity 600ms cubic-bezier(.61, .01, .42, 1);
  ;
}

.hamburger_menu_13>.implement_container button:active:hover div:nth-child(3):before,
.hamburger_menu_13>.implement_container button:active div:nth-child(3):before,
.hamburger_menu_13>.implement_container button:active div:nth-child(2) {
  opacity: 0;
  transition: all 200ms;
}

.hamburger_menu_13>.implement_container button:active div {
  border: 1.5px solid #fff;
  height: 0px;
  border-radius: 0%;
  margin-left: -1px;
  margin-top: 6px;
  animation: division 300ms linear 1;
  width: 25px;
  top: 0px;
}

.hamburger_menu_13>.implement_container button:active div:nth-child(2) {
  width: 0px;
}

.hamburger_menu_13>.implement_container button:active div:nth-child(3) {
  transform: rotate(45deg);
}

.hamburger_menu_13>.implement_container button:active div:nth-child(1) {
  transform: rotate(-45deg);
}

@keyframes atom {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes division {
  0% {
    transform: rotate(180deg);
  }
}

@keyframes ball {
  0% {
    left: -20%;
    top: 10%;
  }

  10% {
    left: 10%;
    top: -35%;
  }

  25% {
    left: 45%;
    top: -50%;
  }

  40% {
    left: 80%;
    top: -20%;
  }

  50% {
    left: 98%;
    top: 18%;
  }

  60% {
    left: 80%;
    top: 50%;
  }

  75% {
    left: 45%;
    top: 80%;
  }

  90% {
    left: 0%;
    top: 60%;
  }

  100% {
    left: -20%;
    top: 10%;
  }
}