@charset "utf-8";

/* modal 01 */
/* 上から降りてくるパターン */

/* Reference study site */

/* ドットインストール - JavaScriptでモーダルウィンドウを作ろう */
/* URL: https://dotinstall.com/lessons/modal_js_v3 */

/* 詳細な挙動や課題や修正点などについて ここに記載する

*/



.modal_01>.implement_container .open,
.modal_01>.implement_container .close {
  color: hwb(240 0% 0%);
  text-align: center;
  width: 200px;
  padding: 12px 0;
  border-radius: 8px;
  background: hwb(240 80% 0%);
  margin: 16px auto 0;
  cursor: pointer;
  transition: color 0.2s, background 0.2s;
  user-select: none;
}

.modal_01>.implement_container .open {
  margin: 0;

  /* 領域を上下左右中央に表示する処理 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal_01>.implement_container .open:hover,
.modal_01>.implement_container .close:hover {
  color: white;
  background: hwb(240 50% 0%);
}

.modal_01>.implement_container .mask {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;

  /* 領域を画面いっぱいに広げる処理 */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: 1;
}

.modal_01>.implement_container .modal {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  background: #fff;

  /* 領域を上下左右中央に表示する処理 */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  transition: transform 0.5s;
  z-index: 2;
}

.modal_01>.implement_container .modal>p {
  margin: 0 0 20px;
}

.modal_01>.implement_container .mask.hidden {
  display: none;
}

.modal_01>.implement_container .modal.hidden {
  /*
    translateY(-100vh) のみの場合、ウインドウ高さ領域を最小まで縮めていくと modal が表示されてしまうため、
    念のため、 -100% 加算しておく。
  */
  visibility: hidden;
  transform: translateX(-50%) translateY(calc(-100vh + -100%));
  transition: transform 0.5s, visibility 0.5s;
}