@charset "utf-8";

/* modal 03 */
/* CSS のみで作成したパターン */

/* Reference study site */

/* Web制作マガジン by GEOCODE */
/* URL: https://www.hp-maker.net/magazine/modal/ */

/* 詳細な挙動や課題や修正点などについて ここに記載する

   一部 参照元コードを修正
     Open Modal ボタンをスタイリング。
*/



.modal_03>.implement_container .openModalBtn {
  display: block;
  color: hwb(240 0% 0%);
  text-align: center;
  width: 200px;
  padding: 12px 0;
  border-radius: 8px;
  background: hwb(240 80% 0%);
  margin: 0;
  cursor: pointer;
  transition: color 0.2s, background 0.2s;
  user-select: none;

  /* 領域を上下左右中央に表示する処理 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal_03>.implement_container .openModalBtn:hover {
  color: white;
  background: hwb(240 50% 0%);
}

.modal_03>.implement_container .modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal_03>.implement_container .modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modal_03>.implement_container .modalDialog>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.modal_03>.implement_container .close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.modal_03>.implement_container .close:hover {
  background: #00d9ff;
}