body {
  user-select: none;
  overflow-x: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.container {
  display: flex;
  justify-content: space-between;
}

.center_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



/* player common */

.player01-wrapper,
.player02-wrapper,
.player03-wrapper,
.player00-wrapper {
  /* outline: 1px solid blue; */
  display: flex;
  align-items: center;
  position: relative;
}

.player01-wrapper,
.player02-wrapper,
.player03-wrapper {
  pointer-events: none;
}

.player02-wrapper,
.player00-wrapper {
  flex-direction: column;
}

.player01_text,
.player02_text,
.player03_text,
.player00_text {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.8);
  /* 仮の値 */
  width: 500px;
  /* 仮の値 */
  height: 200px;
  border: 3px solid blue;
  border-radius: 30px;
  padding: 10px;
  padding-top: 30px;
  position: absolute;
  /* .player??-wrapper から見て位置指定 */
  box-sizing: border-box;
  z-index: 100;
}

/* 三角形の吹き出しを作る */
.player01_text::before,
.player02_text::before,
.player03_text::before,
.player00_text::before {
  content: '';
  width: 0px;
  height: 0px;
  border: 15px solid transparent;
  position: absolute;
}

.player00_text::before {
  top: 196px;
  left: 390px;
  border-top-color: blue;
}

.player01_text::before {
  top: 196px;
  left: 50px;
  border-top-color: blue;
}

.player02_text::before {
  top: 70px;
  left: -33px;
  border-right-color: blue;
}

.player03_text::before {
  top: -33px;
  left: 415px;
  border-bottom-color: blue;
}

.player01-face,
.player02-face,
.player03-face {
  width: 100px;
  height: 100px;
  outline: 3px solid blue;
  border-radius: 50%;
}

.player01-face>img,
.player02-face>img,
.player03-face>img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.player01-name,
.player02-name,
.player03-name,
.player00-name {
  font-size: 20px;
  color: #333;
  position: absolute;
}

.player02-name,
.player00-name {
  left: 50%;
  transform: translateX(-50%);
}

#player01_hands,
#player03_hands {
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 113px;

  height: 950px;
  /* 画面解像度 1920 * 1080 */
  /* 1080 - padding-top 70px - 上下スペース 30px * 2 */
  /* カードの幅 width: 113px; */
  /* カードの高さ height 75px */

  padding-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

#player02_hands,
#player00_hands {
  /* outline: 1px solid blue; */
  display: flex;
  justify-content: center;

  width: 1360px;
  /* 画面解像度 1920 * 1080 */
  /* 86.6px * 13 + 66px * 12 */
  height: 130px;
  /* 画面解像度 1920 * 1080 */
}

#player01_hands>li+li,
#player03_hands>li+li {
  margin-top: 3.5px;
  /* 画面解像度 1920 * 1080 */
  /* {1020 - (75 * 13)} / 12 */
}

#player02_hands>li+li,
#player00_hands>li+li {
  margin-left: 19.5px;
  /* 画面解像度 1920 * 1080 */
  /* {1360 - (86.666 * 13)} / 12 */
}



/* player01 */

.player01_text {
  top: 230px;
  /* 仮の値 */
  left: 10px;
  /* 仮の値 */
}

.player01-face {
  margin-left: 10px;
}

.player01-name {
  top: 590px;
  /* 仮の値 */
  left: 20px;
  /* 仮の値 */
}



/* player02 */

.player02-wrapper {
  margin-top: 30px;
}

.player02_text {
  top: -20px;
  /* 仮の値 */
  left: 830px;
  /* 仮の値 */
}

/* 仮の値 */

.player02-face {
  margin-bottom: 10px;
}

.player02-name {
  top: -25px;
  /* 仮の値 */
}

#player02_hands {
  margin-bottom: 20px;
}



/* player03 */
/* .player03-wrapper {} */

.player03_text {
  bottom: 230px;
  /* 仮の値 */
  right: 10px;
  /* 仮の値 */
}

.player03-face {
  margin-right: 10px;
}

.player03-name {
  top: 420px;
  /* 仮の値 */
  left: 150px;
  /* 仮の値 */
}



/* player00 */

.player00_text {
  top: -200px;
  /* 仮の値 */
  left: 100px;
  /* 仮の値 */
}

.player00-name {
  top: 173px;
  /* 仮の値 */
}

#player00_hands {
  margin-top: 20px;
  margin-bottom: 10px;
}



/* table */

#table {
  outline: 1px solid blue;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 1360px;
  /* 画面解像度 1920 * 1080 */
  /* 86.6px * 13 + 66px * 12 */
  height: 580px;
  /* 画面解像度 1920 * 1080 */
  /* 130px * 4 + 20px * 3 */

  pointer-events: none;
}

#table>li {
  height: 130px;
  margin-right: calc((1360px - 1126.6px) / 12);
  /* 画面解像度 1920 * 1080 */
  margin-bottom: calc((580px - 520px) / 3);
  /* 画面解像度 1920 * 1080 */

  /* transition: transform 1s; */
}

#table>li:nth-child(13n) {
  margin-right: 0;
}

#table>li:nth-child(n + 40) {
  margin-bottom: 0;
}



/* ルール説明ボックス */

#mask {
  background: rgba(0, 0, 0, 0.1);

  /* 領域を画面いっぱいに広げる処理 */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: 200;
}

#ruleBox {
  /* table と同じサイズ */
  width: 1360px;
  /* 画面解像度 1920 * 1080 */
  height: 580px;
  /* 画面解像度 1920 * 1080 */

  padding: 15px 50px;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;

  /* 領域を左右中央に表示する処理 */
  position: absolute;
  top: 290px;
  left: 0;
  right: 0;
  margin: 0 auto;

  transition: transform 0.5s;
  z-index: 201;
}

#ruleBox>dl {
  width: 1000px;
  margin: 0 auto;
  line-height: 1.5;
}

#ruleBox dt {
  font-weight: bold;
}

#ruleBox dt::before {
  content: '・';
}



/* Javascript */

#mask.hidden {
  display: none;
}

#ruleBox.hidden {
  transform: translate(0, -1000px);
}

.text-none {
  display: none;
}

.discard {
  opacity: 0;
}

.playable {
  transform: translateY(-20px);
  cursor: pointer;
}

.playerTurn {
  background-color: hsl(180, 100%, 95%);
}

.winPlayer {
  background-color: hsl(180, 100%, 95%);
}

.losePlayer {
  background-color: hsl(300, 100%, 95%);
}

.information {
  width: 900px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 5px;
  left: 10px;
  z-index: 30;
}

.information>.info_player00,
.information>.info_player01,
.information>.info_player02,
.information>.info_player03,
.information>.info_passOverCount {
  color: hsl(350, 100%, 70%);
  font-weight: bold;
  width: 45%;
}

.information>span:nth-of-type(odd) {
  margin-right: 20px;
}

.information>.info_passOverCount {
  margin-left: 423px;
  margin-right: 0;
}

.startbtn,
.shuffleReloadbtn,
.backToStartbtn {
  pointer-events: auto;
}

.loadStock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

#close,
.backTopPagebtn,
.messagebtn,
.rulebtn,
.difficultybtn,
.pass_over_btn,
.startbtn,
.shuffleReloadbtn,
.backToStartbtn,
.passbtn,
.openCardsbtn {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 50px;
  background-color: hsl(180, 100%, 50%);
  width: 150px;
  height: 50px;
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.startbtn {
  top: 15%;
  left: 50%;
}

#page {
  font-size: 20px;
  width: 500px;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

#pagePrev,
#pageNext {
  font-size: 32px;
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  line-height: 50px;
  background-color: hsl(180, 100%, 50%);
  border: 3px solid hsl(180, 100%, 30%);
  border-radius: 15px;
}

#pagePrev:hover,
#pageNext:hover {
  cursor: pointer;
  background-color: hsl(180, 100%, 40%);
}

#pageCurrent {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

#close {
  top: unset;
  bottom: -2%;
}

.backTopPagebtn {
  font-size: 18px;
  top: 77%;
  left: 5%;
  z-index: 100;
  line-height: normal;
}

.messagebtn {
  font-size: 18px;
  top: 85%;
  left: 5%;
  z-index: 100;
  line-height: normal;
}

.rulebtn {
  top: 93%;
  left: 5%;
  z-index: 100;
}

.difficultybtn {
  position: static;
  transform: none;
  pointer-events: auto;
}

.pass_over_btn {
  width: 100px;
  position: static;
  transform: none;
  pointer-events: auto;
}

.pass_over_btn:first-child {
  width: 150px;
  position: static;
  transform: none;
  pointer-events: auto;
}

.btn_check {
  background-color: hsl(180, 100%, 50%);
}

.btn_not_check {
  background-color: hsl(180, 100%, 35%);
}

.shuffleReloadbtn {
  font-size: 18px;
  line-height: normal;
  top: 50%;
}

#table>.backToStartbtn {
  top: 70%;
}

#player00_hands>.backToStartbtn {
  top: 50%;
  left: 50%;
}

.messege_on_off {
  opacity: 0;
}

#player00_hands>.passbtn {
  top: 25%;
  left: 111%;
}

#player00_hands>.openCardsbtn {
  font-size: 18px;
  line-height: normal;
  top: 76%;
  left: 111%;
}

#close:hover,
.backTopPagebtn:hover,
.messagebtn:hover,
.rulebtn:hover,
.difficultybtn:hover,
.pass_over_btn:hover,
.startbtn:hover,
.shuffleReloadbtn:hover,
.backToStartbtn:hover,
.passbtn:hover,
.openCardsbtn:hover {
  cursor: pointer;
  background-color: hsl(180, 100%, 40%);
}

.stockCards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.not_click {
  pointer-events: none;
}

.setting_box {
  width: 800px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.8);
  outline: 1px solid blue;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* pointer-events: none; */
  z-index: 10;
}

.passOverCountBox {
  top: 75%;
}

#player00_hands>.setting_box {
  top: 52%;
  left: 70.5%;
}

.setting_box>p {
  text-align: center;
  font-size: 20px;
  color: blue;
  font-weight: bold;
}

.setting_box>p::before {
  content: '- ';
}

.setting_box>p::after {
  content: ' -';
}

.setting_box__container {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}