@charset "utf-8";

/* other-UI 01 */
/* ローディングアイコン */

/* Reference study site */

/* CSS入門 アニメーション編 */
/* URL: https:// */

/* 詳細な挙動や課題について ここに記載する */

/* 参照元コードのデザインに微修正を加える。 */



.other-UI_01>.implement_container .loading {
  width: 32px;
  height: 32px;
  border-top: 8px solid red;
  border-right: 8px solid blue;
  border-bottom: 8px solid green;
  border-left: 8px solid yellow;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
}

.other-UI_01>.implement_container .loadingAnimation {
  animation: other-UI_01_spin 1000ms infinite linear;
}

.other-UI_01>.implement_container p {
  font-size: 12px;
}

@keyframes other-UI_01_spin {
  100% {
    transform: rotate(360deg);
  }
}